.mpc-container {
  width: 732px;
  height: 644px;
  display: flex;
  background-image: url('https://www.psdgraphics.com/file/dark-metal-texture.jpg');
}

.potar-container {
  width: 14.2%;
  height: 100%;
}

.central-container {
  width: 52.5%;
  height: 100%;
}

.settings-container {
  width: 32.8%;
  height: 100%;
}



