.central-sub-container {
  width: 100%;
  height: 100%;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.screen-container {
  width: 100%;
  height: 24.2%;
  background-color: cadetblue;
}

.function-container {
  width: 100%;
  height: 9.3%;
  background-color: lightslategray;
}

.pad-container {
  width: 100%;
  height: 60%;
  background-color: black;
}

.margin-container {
  width: 100%;
  height: 6.5%;
  background-color: chocolate;
}