.standard-button-sub-container {
    flex: 0 0 20%;
    /*flex-wrap: wrap;*/
    line-height: 1em;
}

.click-standard {
    width: 80%;
    height: 41.6%;
    background-color: #070a1a;
    line-height: 1em;
    border: solid 1px black;
    border-radius: 6%;
    box-shadow: 0 0 1px 1px #282c34;
}

.click-standard:before {
    width: 120%;
    height: 2%;

    content: "";
    background-color: red;
    /* border: 1px solid; */
    display: inline-block;
    vertical-align: top;
    /*display: flex;*/
    /*justify-content: center;*/

    margin-right: 100%;
    box-shadow: 0 0 0.8em 0.1em rgba(255, 0, 0, 0.9);
    z-index: 100;
}

.function-name {
    /*font-family: 'Heebo', sans-serif;*/
    line-height: 0.6em;
    margin-top: -100px;
    font-size: 70%;
    color: white;
    text-transform: uppercase;
    /*align-self: flex-start;*/
    /*justify-self: flex-start;*/
    /*vertical-align: top;*/

}

.secondary-name {
    display: flex;
    justify-content: center;
    flex: 1 0 100%;
    /*font-family: 'Heebo', sans-serif;*/
    font-size: 50%;
    text-transform: uppercase;
    color: red;
    margin-top: 10%;
}






